body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#listenElement {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
fieldset {
    margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"],
label {
    display: inline;
}

label::after {
    content: "";
    display: block;
}

input:invalid {
    background: #F0C060;
}

input:valid {
    background: white;
}

input:required {
    background: #aaaaaa;
}

datalist option {
    display: inline;
}

textarea {
    width: 100%;
}

h1 {
    text-align: center;
}

.shopping-list {
    margin-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.info {
    flex-grow: 1;
}

.add-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-item input,
.add-item button {
    margin-right: 10px;
}

.add-item input {
    flex-grow: 1;
}

.bought-btn,
.delete-btn,
.add-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.bought-btn:hover,
.delete-btn:hover,
.add-btn:hover {
    background-color: #0056b3;
}

.bought-btn:focus,
.delete-btn:focus,
.add-btn:focus {
    outline: none;
}
