#span{
    position:fixed;
    height: 100px;
    width: 210px;
    border: thin solid black;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    text-align: center;
    flex-direction: column;
    background-color: azure;
    margin-left: 20px;
    margin-top: 15px;
    z-index: 9999; 
    
}

body {
    background-color: antiquewhite;
}
#div0 {
    left: 0;
    position: absolute;
    background-color: aqua;
    height: 80%;
    width: 45%;
   
}
#div1 {
    right: 0;
    position: absolute;
    background-color: aqua;
    height: 80%;
    width: 45%;
}

